node_modules/

# vscode
.vscode

# Vim swap
*.swp

# Environment
.env

# Local build config
config.mk

# Secrets
/keytabs/
/volumes/

# IDE
.idea/


.vscode/
config/secrets.json
config/conf.json
config/backups
!config/.gitkeep
lib/**/*.js*
coverage
build/
*.js
*.js.*
/lib/git-version.ts
local_secrets

edge_agent_config.yaml
driver-passwords