node_modules/

# Vim swap
*.swp

# Environment
.env

# Secrets
/keytabs/
/volumes/

# IDE
.idea/


.vscode/
config/secrets.json
config/conf.json
config/backups
!config/.gitkeep
lib/**/*.js*
coverage
build/
*.js
*.js.*