<ul>
  <li><a href="{{url.manager}}">Manager</a>
  <li><a href="{{url.vis}}">Visualiser</a>
  <li><a href="{{url.configdb}}">ConfigDB</a>
  <li><a href="{{url.auth}}">Auth</a>
</ul>

{{! vi:set ft=html: }}
