{{- $k8sname := include "opcua-server.k8sname" .Values.name }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: {{ .Release.Namespace }}
  name: opcua-server-data-{{ $k8sname }}
  labels:
    factory-plus.app: opcua-server
    factory-plus.uuid: {{ .Values.uuid }}
spec:
  accessModes:
    - ReadWriteOnce
{{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass | quote }}
{{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
