DIRECTORY_URL=http://directory.default.svc.cluster.local
REALM=EXAMPLE.COM
PORT=8080
HOSTNAME=i3x.default.svc.cluster.local
DEVICE_UUID=
CLIENT_KEYTAB=/keytabs/client
SERVER_KEYTAB=/keytabs/server
INFLUX_URL=http://influxdb.default.svc.cluster.local
INFLUX_TOKEN=
INFLUX_ORG=default
INFLUX_BUCKET=default
I3X_NAMESPACE_NAME=My Organisation
I3X_NAMESPACE_URI=https://example.com
I3X_POLL_INTERVAL=60000
I3X_SUBSCRIPTION_TTL=300000
I3X_STALE_THRESHOLD=300000
LOG_LEVEL=info
