/node_modules/

# Vim swap
*.swp

# Local build
config.mk

# Gitignore package-lock as it messes up cross-platform builds
package-lock.json

# Environment
.env

# Secrets
/keytabs/
/volumes/

# IDE
.idea/
