{{ if .Values.configdb.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: configdb-ingressroute
  namespace: default
spec:
  entryPoints:
    - {{ .Values.acs.secure | ternary "websecure" "web" }}
  routes:
    - match: Host(`configdb.{{.Values.acs.baseUrl | required "values.acs.baseUrl is required"}}`)
      kind: Rule
      services:
        - name: configdb
          port: 80
          namespace: {{ .Release.Namespace }}
  {{- if .Values.acs.secure }}
  tls:
    secretName: {{ .Values.switchboard.enabled | ternary "factoryplus-configdb-tls" "factoryplus-tls" }}
    domains:
      - main: configdb.{{.Values.acs.baseUrl | required "values.acs.baseUrl is required"}}
  {{- end -}}
{{- end -}}
