name: Helm Lint

on:
  pull_request:
    branches:
      - main
      - testing/v4

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.6.3' # Specify the Helm version you want to use

      - name: Run Helm Lint
        run: helm lint ./deploy/
